.banner
	position: relative
	height: 480px
	margin-bottom: 72px
	background: url('#{$images}/backgrounds/birdwatching-what-it-is-and-how-to-start.jpg') no-repeat center / cover
	background-size: cover
	animation: $show-up-animation

	&__grid
		position: relative
		padding-bottom: 100px

		@media #{$phone}
			padding-bottom: 56px

	&__wrap
		max-width: 540px

	&__title
		line-height: 1.35
		color: #fff

	&__sign-foto
		position: absolute
		bottom: 0
		right: 16px
		display: flex
		flex-direction: column
		align-items: flex-end
		span
			color: $light
