@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-Light.woff2') format('woff2')
	font-weight: 300
	font-style: normal
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans.woff2') format('woff2')
	font-weight: normal
	font-style: normal
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-MediumItalic.woff2') format('woff2')
	font-weight: 500
	font-style: italic
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-BoldItalic.woff2') format('woff2')
	font-weight: bold
	font-style: italic
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-ExtraLightItalic.woff2') format('woff2')
	font-weight: 200
	font-style: italic
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-Bold.woff2') format('woff2')
	font-weight: bold
	font-style: normal
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-ExtraLight.woff2') format('woff2')
	font-weight: 200
	font-style: normal
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-LightItalic.woff2') format('woff2')
	font-weight: 300
	font-style: italic
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-Italic.woff2') format('woff2')
	font-weight: normal
	font-style: italic
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-Medium.woff2') format('woff2')
	font-weight: 500
	font-style: normal
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-ThinItalic.woff2') format('woff2')
	font-weight: 100
	font-style: italic
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-SemiBold.woff2') format('woff2')
	font-weight: 600
	font-style: normal
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-SemiBoldItalic.woff2') format('woff2')
	font-weight: 600
	font-style: italic
	font-display: swap

@font-face
	font-family: 'IBM Plex Sans'
	src: url('../..//fonts/IBMPlexSans-Thin.woff2') format('woff2')
	font-weight: 100
	font-style: normal
	font-display: swap
