.round-up
	margin-bottom: 82px

	&__grid
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 30px
		margin-bottom: 32px

		@media #{$tablet}
			grid-template-columns: repeat(2, 1fr)

		@media #{$phone}
			grid-template-columns: 1fr

	&__item
		display: flex
		flex-direction: column

		&:nth-of-type(3)
			@media (min-width: 930px)
				grid-column-start: 1
				grid-column-end: 3

				.round-up__img
					height: 220px

		&:last-of-type
			@media (min-width: 930px)
				grid-column-start: 3
				grid-row-start: 1
				grid-row-end: 3

				.round-up__item-wrap, .round-up__img
					height: 532px

		@media (hover)
			&:hover
				.round-up__img
					opacity: .8

		&-wrap
			position: relative
			margin-bottom: 8px

		.round-up__img
			transition: opacity .2s ease-in-out

		.title
			position: absolute
			max-width: 60%
			bottom: 16px
			left: 24px

		.text_light
			// margin-bottom: 8px
			font-size: 0.8rem

	&__img
		width: 100%
		height: 180px
		border-radius: $radius-s
		object-fit: cover
